:root {
  --main-color: #ff5678;
  --secondary-color: #ff304f;
  --heart-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffccd5;
  font-family: "Comic Sans MS", sans-serif;
  color: var(--main-color);
  text-align: center;
  overflow: hidden;
  direction: rtl;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  background-color: #ffffffb8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.form-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  padding: 8px;
  border: 2px solid #ccccccb8;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
}

.input:focus {
  outline-color: var(--main-color);
}

.gender-selection {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.radio {
  margin-right: 8px;
}

.submit-btn {
  padding: 10px;
  background-color: #f06292b8;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 16px;
}

.submit-btn:hover {
  background-color: #ec407a;
}

.submit-btn:disabled {
  background-color: #00000061;
  cursor: no-drop;
}

.card {
  position: relative;
  background-color: #ffffffb8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.card h1 {
  padding-bottom: 10px;
}

#message {
  font-size: 2em;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.message-alert-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  justify-items: center;
  margin-bottom: 15px;
}

.message-alert{
  background-color: #000000a8;
  border-radius: 8px;
  padding: 10px;
  width: fit-content;
  opacity: 0;
  transform: translateY(200%);
  margin-top: 10px;
  transition: 0.5s;
}

.message-alert.active {
  transform: translateY(0);
  opacity: 1;
}


.heart {
  position: absolute;
  width: var(--heart-size);
  height: var(--heart-size);
  background: red;
  transform: rotate(45deg);
  animation: fall 2.5s linear infinite;
}
.heart:before,
.heart:after {
  content: "";
  position: absolute;
  width: var(--heart-size);
  height: var(--heart-size);

  background: red;
  border-radius: 50%;
}
.heart:before {
  top: calc(-1 * var(--heart-size) / 2);
  left: 0;
}
.heart:after {
  top: 0;
  left: calc(-1 * var(--heart-size) / 2);
}
@keyframes fall {
  0% {
    top: -50px;
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 0;
    transform: rotate(90deg);
  }
}
